################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/challenge/bin/Debug
/.vs
/challenge/obj
